In [1]:
import pandas as pd

In [19]:
authors = pd.read_csv("authors_cleaned_deduped-2020-04-12.csv", index_col="drupal_full_name")

In [20]:
authors.head()

,given_name,family_name,corrected_given_name,corrected_family_name,organization_name,meeting_name,Notes
drupal_full_name,,,,,,,
'Spirit' Donna Bradley,'Spirit' Donna,Bradley,Donna,Bradley,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,Pacific Yearly Meeting,added info in column G on 4/12/2020
A. N. Whitehead,A. N.,Whitehead,NaN,NaN,NaN,NaN,NaN
A. S.,A.,S.,NaN,Anonymous,NaN,NaN,NaN
A. Sidney Wright,A. Sidney,Wright,NaN,NaN,NaN,NaN,NaN

In [4]:
articles = pd.read_csv("articles.csv")

In [6]:
authors.shape

(2649, 7)

In [5]:
articles.shape

(914, 6)

In [7]:
articles.columns

Index(['title', 'Authors', 'Body', 'Department', 'Keywords', 'Media'], dtype='object')

In [9]:
articles["Authors"].head(n=100)

0             Mary Klein
1            Sara Keeney
2     D. Pablo Stanfield
3             Mary Klein
4           Zae Asa Illo
             ...
95          Sarah Malone
96        Dan Strickland
97           Yogi Sharma
98          Julie Peyton
99           Sue Lauther
Name: Authors, Length: 100, dtype: object

In [10]:
articles.dtypes

title         object
Authors       object
Body          object
Department    object
Keywords      object
Media         object
dtype: object

In [15]:
for authors in articles["Authors"]:  
    for author in authors.split(", "):
        authors_mask = authors.index == "Mary Klein"
        authors[authors_mask].iloc[0].to_dict()

{'given_name': 'Mary',
 'family_name': 'Klein',
 'corrected_given_name': nan,
 'corrected_family_name': nan,
 'organization_name': nan,
 'meeting_name': nan,
 'Notes': nan}